<!-- /templates/page.contact.liquid -->

<div class="page-width page-container">
  <header>
    <h1>{{ page.title }}</h1>
  </header>

  <div class="rte rte--indented-images contact-form-text">
    {{ page.content }}
  </div>

  <div class="contact-form form-vertical">
    {% form 'contact' %}

      {% if form.posted_successfully? %}
        <p class="note form-success">
          {{ 'contact.form.post_success' | t }}
        </p>
      {% endif %}

      {{ form.errors | default_errors }}

      <div class="grid">
        <div class="grid__item medium-up--one-half">
          <label for="ContactFormName" class="label--hidden">{{ 'contact.form.name' | t }}</label>
          <input type="text" id="ContactFormName" name="contact[name]" placeholder="{{ 'contact.form.name' | t }}" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" class="input-full">
        </div>

        <div class="contact-form__email grid__item medium-up--one-half">
          <label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
          <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" class="input-full">
        </div>

        <div class="grid__item">
          <label for="ContactFormLocation" class="label--hidden">{{ 'contact.form.location' | t }}</label>
          <input type="text" id="ContactFormLocation" name="contact[location]" placeholder="{{ 'contact.form.location' | t }}" value="{% if form.location %}{{ form.location }}{% elsif customer %}{{ customer.location }}{% endif %}" class="input-full">
        </div>

        <div class="grid__item">
          <label for="ContactFormMessage" class="label--hidden">{{ 'contact.form.message' | t }}</label>
          <textarea id="ContactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}" class="input-full">{% if form.body %}{{ form.body }}{% endif %}</textarea>
        </div>

        <div class="grid__item">
          <label for="ContactFormSite" class="label--hidden">{{ 'contact.form.site' | t }}</label>
          <input type="text" id="ContactFormSite" name="contact[site]" placeholder="{{ 'contact.form.site' | t }}"  value="{% if form.site %}{{ form.site }}{% elsif customer %}{{ customer.site }}{% endif %}" class="input-full">
        </div>

        <div class="grid__item">
          <label for="ContactFormTwitter" class="label--hidden">{{ 'contact.form.twitter' | t }}</label>
          <input type="text" id="ContactFormTwitter" name="contact[twitter]" placeholder="{{ 'contact.form.twitter' | t }}" value="{% if form.twitter %}{{ form.twitter }}{% elsif customer %}{{ customer.twitter }}{% endif %}" class="input-full">
        </div>

        <div class="grid__item">
          <label for="ContactFormInstagram" class="label--hidden">{{ 'contact.form.instagram' | t }}</label>
          <input type="text" id="ContactFormInstagram" name="contact[instagram]" placeholder="{{ 'contact.form.instagram' | t }}" value="{% if form.instagram %}{{ form.instagram }}{% elsif customer %}{{ customer.instagram }}{% endif %}" class="input-full">
        </div>

        <div class="grid__item">
          <label for="ContactFormFacebook" class="label--hidden">{{ 'contact.form.facebook' | t }}</label>
          <input type="text" id="ContactFormFacebook" name="contact[facebook]" placeholder="{{ 'contact.form.facebook' | t }}" value="{% if form.facebook %}{{ form.facebook }}{% elsif customer %}{{ customer.facebook }}{% endif %}" class="input-full">
        </div>

        <div class="grid__item">
          <label for="ContactFormReferral" class="label--hidden">{{ 'contact.form.referral' | t }}</label>
          <input type="text" id="ContactFormReferral" name="contact[referral]" placeholder="{{ 'contact.form.referral' | t }}" value="{% if form.referral %}{{ form.referral }}{% elsif customer %}{{ customer.referral }}{% endif %}" class="input-full">
        </div>
      </div>

      <input type="submit" class="btn" value="{{ 'contact.form.send' | t }}">

    {% endform %}
  </div>
</div>
